attrs @ file:///C:/b/abs_35n0jusce8/croot/attrs_1695717880170/work
black @ file:///C:/b/abs_232028unhf/croot/black_1712698539555/work
Brotli @ file:///C:/b/abs_3d36mno480/croot/brotli-split_1714483178642/work
build @ file:///C:/b/abs_271clygijw/croot/python-build_1679596522238/work
CacheControl @ file:///C:/ci_311/cachecontrol_1676427907286/work
certifi @ file:///C:/b/abs_35d7n66oz9/croot/certifi_1707229248467/work/certifi
cffi @ file:///C:/b/abs_924gv1kxzj/croot/cffi_1700254355075/work
cfgv @ file:///C:/b/abs_bcfw_izb61/croot/cfgv_1694506013806/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
cleo @ file:///C:/b/abs_c7y8jqmd58/croot/cleo_1705431375375/work
click @ file:///C:/b/abs_f9ihnt72pu/croot/click_1698129847492/work
colorama @ file:///C:/ci_311/colorama_1676422310965/work
crashtest @ file:///C:/b/abs_027kft5mb7/croot/crashtest_1679422382807/work
cryptography @ file:///C:/b/abs_97lgskwerx/croot/cryptography_1714664736250/work
distlib @ file:///C:/b/abs_2cagtc9d6u/croot/distlib_1678983701062/work
dulwich @ file:///C:/b/abs_5ahq422mfw/croot/dulwich_1679420068831/work
filelock @ file:///C:/b/abs_f2gie28u58/croot/filelock_1700591233643/work
flake8 @ file:///C:/b/abs_caud66drfv/croot/flake8_1708965316778/work
html5lib @ file:///Users/ktietz/demo/mc3/conda-bld/html5lib_1629144453894/work
identify @ file:///C:/ci_311/identify_1676450604136/work
idna @ file:///C:/b/abs_aad84bnnw5/croot/idna_1714398896795/work
importlib-metadata @ file:///C:/b/abs_c1egths604/croot/importlib_metadata-suite_1704813568388/work
installer @ file:///C:/b/abs_6f5oy7pw4x/croot/python-installer_1679433040359/work
isort @ file:///tmp/build/80754af9/isort_1628603791788/work
jaraco.classes @ file:///tmp/build/80754af9/jaraco.classes_1620983179379/work
jsonschema @ file:///C:/b/abs_d1c4sm8drk/croot/jsonschema_1699041668863/work
jsonschema-specifications @ file:///C:/b/abs_0brvm6vryw/croot/jsonschema-specifications_1699032417323/work
keyring @ file:///C:/b/abs_dbjc7g0dh2/croot/keyring_1678999228878/work
lockfile==0.12.2
mccabe @ file:///opt/conda/conda-bld/mccabe_1644221741721/work
mkl-fft @ file:///C:/b/abs_19i1y8ykas/croot/mkl_fft_1695058226480/work
mkl-random @ file:///C:/b/abs_edwkj1_o69/croot/mkl_random_1695059866750/work
mkl-service==2.4.0
more-itertools @ file:///C:/b/abs_36p38zj5jx/croot/more-itertools_1700662194485/work
msgpack @ file:///C:/ci_311/msgpack-python_1676427482892/work
mypy @ file:///C:/b/abs_3880czibje/croot/mypy-split_1708366584048/work
mypy-extensions @ file:///C:/b/abs_8f7xiidjya/croot/mypy_extensions_1695131051147/work
nodeenv @ file:///C:/ci_311/nodeenv_1676453346009/work
numpy @ file:///C:/b/abs_c1ywpu18ar/croot/numpy_and_numpy_base_1708638681471/work/dist/numpy-1.26.4-cp311-cp311-win_amd64.whl#sha256=5dfd3e04dc1c2826d3f404fdc7f93c097901f5da9b91f4f394f79d4e038ed81d
packaging @ file:///C:/b/abs_cc1h2xfosn/croot/packaging_1710807447479/work
pathlib @ file:///Users/ktietz/demo/mc3/conda-bld/pathlib_1629713961906/work
pathspec @ file:///C:/ci_311/pathspec_1679427644142/work
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pkginfo @ file:///C:/b/abs_bciypal17m/croot/pkginfo_1715696027839/work
platformdirs @ file:///C:/ci_311/platformdirs_1676422658103/work
poetry @ file:///C:/b/abs_65dopjrhe4/croot/poetry_1680193157192/work
poetry-core @ file:///C:/b/abs_aelwee1frx/croot/poetry-core_1680018674029/work
poetry-plugin-export @ file:///C:/b/abs_e2f1r2s13z/croot/poetry-plugin-export_1680122811892/work
pre-commit @ file:///C:/b/abs_30vgkpzvpb/croot/pre-commit-split_1694777024931/work
psutil @ file:///C:/ci_311_rebuilds/psutil_1679005906571/work
psycopg2 @ file:///C:/b/abs_4aotb39ojr/croot/psycopg2_1704232487763/work
psycopg2-binary==2.9.9
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pycodestyle @ file:///C:/b/abs_15nuk0qkf0/croot/pycodestyle_1701821084299/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyflakes @ file:///C:/b/abs_b6t1aazq2e/croot/pyflakes_1708963020907/work
pyOpenSSL @ file:///C:/b/abs_baj0aupznq/croot/pyopenssl_1708380486701/work
pyproject_hooks @ file:///C:/b/abs_0a_vjpyjzx/croot/pyproject_hooks_1679584449418/work
PySocks @ file:///C:/ci_311/pysocks_1676425991111/work
python-dotenv @ file:///C:/ci_311/python-dotenv_1676455170580/work
pywin32-ctypes @ file:///C:/b/abs_2cfx5l4nvi/croot/pywin32-ctypes_1709340246092/work
PyYAML @ file:///C:/b/abs_782o3mbw7z/croot/pyyaml_1698096085010/work
rapidfuzz @ file:///C:/b/abs_4dmg22r_fv/croot/rapidfuzz_1700060116755/work
referencing @ file:///C:/b/abs_09f4hj6adf/croot/referencing_1699012097448/work
requests @ file:///C:/b/abs_474vaa3x9e/croot/requests_1707355619957/work
requests-toolbelt @ file:///Users/ktietz/demo/mc3/conda-bld/requests-toolbelt_1629456163440/work
rpds-py @ file:///C:/b/abs_76j4g4la23/croot/rpds-py_1698947348047/work
shellingham @ file:///C:/ci_311/shellingham_1676431367488/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
tomlkit @ file:///C:/ci_311/tomlkit_1676425418821/work
trove-classifiers @ file:///C:/b/abs_2evpb2m3jj/croot/trove-classifiers_1698759160276/work
typing_extensions @ file:///C:/b/abs_72cdotwc_6/croot/typing_extensions_1705599364138/work
ukkonen @ file:///C:/ci_311/ukkonen_1676447679708/work
urllib3 @ file:///C:/b/abs_9cmlsrm3ys/croot/urllib3_1698257595508/work
virtualenv @ file:///C:/ci_311/virtualenv_1676431446014/work
webencodings==0.5.1
win-inet-pton @ file:///C:/ci_311/win_inet_pton_1676425458225/work
zipp @ file:///C:/b/abs_b0beoc27oa/croot/zipp_1704206963359/work
